In [29]:
import pandas as pd
import os
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
import spacy
from spacy.lang.en.examples import sentences

In [148]:
#csv파일 읽기
Main_df=pd.read_csv('C:/Users/effor/바탕 화면/통브라운/TongBrown/main_df.csv')

In [149]:
Main_df.head()

,Unnamed: 0,title,view,u_date,link,e_date
0,0,Don t forget to pay at the ATM at the convenie...,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
1,1,Announcers who tongued the amount of the excus...,75000,3주 전,https://youtube.com/watch?v=4TexwJdsVQI&pp=ygU...,20230527
2,2,Korea Economic TV News lowered brokerage fees ...,11000,2주 전,https://youtube.com/watch?v=SnY2vGDGjUw&pp=ygU...,20230527
3,3,Daily Economy TV News Financial Underprivilege...,555,2주 전,https://youtube.com/watch?v=PCoRLCRd4Ks&pp=ygU...,20230527
4,4,Since June people like this have been unable ...,140000,4일 전,https://youtube.com/watch?v=DUef-LQ-Flk&pp=ygU...,20230527

In [150]:
#열마다 추출
titles = list(Main_df['title'])
view = list(Main_df['view'])
u_date = list(Main_df['u_date'])
link = list(Main_df['link'])
e_date = list(Main_df['e_date'])

nlkt_tokenize

In [151]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\effor\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [152]:
Word=[]
View=[]
U_date=[]
Link=[]
E_date=[]
i=0

for title in titles:
    doc = word_tokenize(title)
    for d in doc:
        Word.append(d)
        View.append(view[i])
        U_date.append(u_date[i])
        Link.append(link[i])
        E_date.append(e_date[i])
    i = i+1

In [153]:
newdic = {'WORD' : Word, 'VIEW' : View, 'U_DATE' : U_date, 'LINK' : Link, 'E_DATE' : E_date}

In [154]:
N_df = pd.DataFrame(newdic)

In [155]:
N_df

,WORD,VIEW,U_DATE,LINK,E_DATE
0,Don,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
1,t,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
2,forget,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
3,to,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
4,pay,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
...,...,...,...,...,...
1562,is,332,2주 전,https://youtube.com/watch?v=Zi_CLA5Bp10&pp=ygU...,20230527
1563,no,332,2주 전,https://youtube.com/watch?v=Zi_CLA5Bp10&pp=ygU...,20230527
1564,one,332,2주 전,https://youtube.com/watch?v=Zi_CLA5Bp10&pp=ygU...,20230527
1565,looking,332,2주 전,https://youtube.com/watch?v=Zi_CLA5Bp10&pp=ygU...,20230527
1566,for,332,2주 전,https://youtube.com/watch?v=Zi_CLA5Bp10&pp=ygU...,20230527

In [156]:
N_df.to_csv('WordDataFrame.csv')

In [157]:
nWord = list(N_df['WORD'])

In [158]:
type(nWord)

list

In [159]:
# #중복제거1
# result1 = dict.fromkeys(nWord) # 리스트 값들을 key 로 변경
# undupl_word = list(result1) # list(dict.fromkeys(arr))
# len(undupl_word)

In [160]:
#중복제거2
word_set = set(nWord)
ndw_list = list(word_set)
len(ndw_list)

767

In [161]:
word_count = []
for i in range(len(ndw_list)):
    word_count.append(len(N_df[N_df['WORD']==ndw_list[i]]))

In [162]:
w_df = pd.DataFrame({'word':ndw_list, 'count':word_count})

In [163]:
w_df_s = w_df.sort_values('count', ascending=False)

In [165]:
len(w_df_s)

767

In [ ]:
#### 어간 추출 ####
a = word_tokenize(doc.text)
from nltk.stem import PorterStemmer, LancasterStemmer, RegexpStemmer
porter_stemmer, lancaster_stemmer = PorterStemmer(),LancasterStemmer()
porter = [porter_stemmer.stem(i) for i in a]
print("PorterStemmer 사용하여 어간추출")
print(porter)

lancaster = [lancaster_stemmer.stem(i) for i in a]
print("LancasterStemmer 사용하여 어간추출")
print(lancaster)

regexp_stemmer = RegexpStemmer("Apple") # ()안 특정 표현식 일괄 제거
regexp = [regexp_stemmer.stem(i) for i in a]
print("RegexpStemmer 사용하여 특정 단어 제거")
print(regexp)