In [1]:
#TongBrown_Modeling

In [138]:
import cx_Oracle
import numpy as np
import pandas as pd
from datetime import datetime
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
import openai
import time
import re
import translators as ts
import pprint
import requests
# from translate import Translator
# import googletrans

In [139]:
cx_Oracle.init_oracle_client(lib_dir=r"C:\instantclient-basic-windows.x64-21.9.0.0.0dbru\instantclient_21_9")

ProgrammingError: Oracle Client library has already been initialized

In [ ]:
# #Chat GPT API입력
# openai.api_key = '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'

In [6]:
#db에 연결
conn = cx_Oracle.connect(user='admin', password='Tongbrown@23', dsn='tongbrown_high')
#커서 생성
cs = conn.cursor()

In [7]:
#sql 실행
sql = "SELECT * FROM YOUTUBE_TABLE"
rs = cs.execute(sql)

In [8]:
#행,열 추출
row = cs.fetchall()
colname = cs.description
col = []
for i in colname:
    col.append(i[0])

In [140]:
#데이터프레임 생성
df =  pd.DataFrame(row,columns = col)

In [141]:
df

,TITLE,VIEWS,UPLOAD_DATE,LINK,EXTRACT_DATE
0,편의점 ATM에서 절대 수수료 내지마세요 이렇게 하면 무조건 0원 입니다,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
1,정신 나간 일본 은행 수수료 근황속 보이는 일본 은행들의 변명수수료 인상 금액에 혀...,75000,3주 전,https://youtube.com/watch?v=4TexwJdsVQI&pp=ygU...,20230527
2,저축은행중앙회장이 쏘아올린 공대출 중개수수료 낮췄다한국경제TV뉴스,11000,2주 전,https://youtube.com/watch?v=SnY2vGDGjUw&pp=ygU...,20230527
3,매일경제TV 뉴스 금융소외계층 챙긴다은행업계 고령층 고객 서비스 확대,555,2주 전,https://youtube.com/watch?v=PCoRLCRd4Ks&pp=ygU...,20230527
4,6월부터 이런 사람 은행 ATM기 계좌이체 현금 입출금 못합니다,140000,4일 전,https://youtube.com/watch?v=DUef-LQ-Flk&pp=ygU...,20230527
...,...,...,...,...,...
96,비트코인 vs 금 둘중에 뭐가 좋아요,510000,2주 전,https://youtube.com/shorts/Lju5KPddZXU,20230527
97,경기와 물가 그리고 은행 우려 속 하락 알파벳 081 안석훈의 뉴욕증시 브리핑 23...,962,13일 전,https://youtube.com/watch?v=4-NEnT9Km1I&pp=ygU...,20230527
98,59 추가 하락 예상 지표 및 분석들 은행 위기 계속 이더릴움도 위기 릭튼 슈타인 ...,140000,2주 전,https://youtube.com/watch?v=SHk2hKZz9iw&pp=ygU...,20230527
99,이것이 터지고 평균 11개월 후에 경기침체가 왔습니다,59000,13일 전,https://youtube.com/watch?v=UhcVF1b2Lks&pp=ygU...,20230527
100,찾는 이 없는 저축은행 자금중개플랫폼개점휴업인 이유는,332,2주 전,https://youtube.com/watch?v=Zi_CLA5Bp10&pp=ygU...,20230527

In [142]:
df_title=df['TITLE']

In [143]:
url = "https://translate.kakao.com/translator/translate.json"

headers = {
    "Referer": "https://translate.kakao.com/",
    "User-Agent": "Mozilla/5.0"
}

In [144]:
# data = {
#     "queryLanguage": "kr",
#     "resultLanguage": "en",
#     "q": "안녕하세요"
# }

# resp = requests.post(url, headers=headers, data=data)

# data = resp.json()
# pprint.pprint(data)

In [145]:
#입력할 데이터를 형태에 맞게 설정
data_set=[]
for title in df_title:
    data_set.append({"queryLanguage": "kr",
    "resultLanguage": "en",
    "q": title})

In [146]:
#영어로 번역
resp_data_set=[]
for data in data_set:
    resp = requests.post(url, headers=headers, data=data)
    resp_data = resp.json()
    resp_data_set.append(resp_data)

In [147]:
#Numpy로 변환해서 정렬
data_np = np.array(resp_data_set)
pure_data = []
for d in data_np:
    temp = str(d)
    temp_c = re.sub(r"[^\uAC00-\uD7A30-9a-zA-Z\s]", " ", temp)
    s = int(temp_c.find('output'))+6
    e = int(temp_c.find('lang'))
    d_fin = temp_c[s:e].strip()
    pure_data.append(d_fin)

In [148]:
# data_np[0]

# d0=str(data_np[0])

# d0_c=re.sub(r"[^\uAC00-\uD7A30-9a-zA-Z\s]", "", d0)

# start = int(d0_c.find('output'))+6

# end=int(d0_c.find('lang'))

# d0_c[start:end].strip()

In [149]:
pure_data

['Don t forget to pay at the ATM at the convenience store  it s 0 won',
 'Announcers who tongued the amount of the excuse fee increase of the Japanese banks seen in the recent bankruptcy of the Japanese bank fee',
 'Korea Economic TV News lowered brokerage fees for public loans launched by the chairman of the Korea Savings Bank',
 'Daily Economy TV News Financial Underprivileged Group Expands customer service for the elderly in the banking industry',
 'Since June  people like this have been unable to make bank ATM cash withdrawals',
 'Turn off the lights  get rid of the paper  and take a vacation',
 '22 year old consumer complaint bank',
 'World s First Online One stop Loan Transfer 31st First Fee Disclosure Money Today Broadcast News',
 'I don t have  50 million  so I took it to a bank account',
 'If you have this card  you should cancel it immediately  Shinhan KB Kookmin Samsung Hyundai Lotte HanaBC Card',
 'If you do not know  you will only lose money  Bank financial benefits over 65 years old All 12 elderly people apply now 2023 Latest version 8 minutes Arrangement Insurance Pension benefits etc',
 'My Child s Rich Making Project Shinhan My Junior Passbook SLite If you trade domestic stocks',
 '186 Coin Fee Imports Like Kim Nam guk Exchange A',
 'I ve been paying such a huge fee',
 'Google YouTube and other profits What kind of bank should you get the most benefits Focus Shorts',
 'Even if you only get paid for the salary club  you can get a lot of prizes',
 'I made a foreign currency account  but it is a confusing commission  Exchange commission withdrawal fee Won commission transfer fee',
 'When the middle plate and the pin tech company are united  you make money because the end of the trade remittance comes out',
 'The loan of 37 trillion won  which was delayed due to the 5 major banks  corona  Yonhap News TV YonhapnewsTV',
 'Essential Knowledge of Hana Bank s US Real Estate Tour 3 shorts',
 'How much would you get if you exchanged 100 000 won for 50 000 won at Shinhan Bank in Vietnam',
 '97 people do not know every month  and they pay half of the money',
 'S0222 Comparison of earnings of three major Internet banks in Korea 20162022 Kakao Bank K Bank Toss Bank shorts',
 'Didn t you get the general income tax notice  Check it out like this',
 'Please note that there are no more than three monthly payments',
 'A new way to save money on exchange fees l Chosun Ilbo Economy Department 5 minute cutback prepaid card Yoo So yeon reporter',
 'Interest rate outlook Let s look at the BOK s interest rate outlook based on US interest rate adjustment Interest rate outlook Bank of Korea',
 '4 Responses to Apple  What Do You Think',
 'If you do not know this  you may get a tax bomb',
 'Why don t you buy XX instead of trusting it when the bank goes bankrupt',
 'Nonghyup Point Cash Deposit Nonghyup Bank nh Point Cashback Cash Deposit Nonghyup Point Point Cash Transfer Account Transfer',
 'TMF Fee Dividend Ratio Management Company Stability History is perfectly organized',
 'Reporters who say they want to allow investment banking business 0511',
 'Give me 20 when you get the compensation for conscription Wow Left s commission business',
 'The reason why I lost money when exchanging money',
 'If you do this bank transaction  you will get 1 million won cash back',
 'Jecheon Nonghyup Bank Credit Guarantee Foundation Youth Project Support',
 '65 years old Benefits 68 bank fees Free Industrial Bank of Korea 65 years old or older Benefits shorts',
 'Let s dissect the lowest interest rate mortgage Kakao Bank products',
 'Promotion of competition by changing interest rates Unexpected expectations Yonhap News TV YonhapnewsTV',
 'The Japanese jammin  who has lost 160 billion won in this action',
 'KB Kookmin Bank Emergency Loan Qualification Conditions Interest Rate Limit Notes Shorts',
 'Do you know that you re paying a huge fee for life',
 'Why are the nymphs weak',
 'An Analysis of Bank of Korea Governor Lee Chang Yong s Economic Outlook',
 'As a result of concentrating on inclusive finance  such as increasing the size of low end loans in the cacao bank  the delinquency rate of loans increased',
 'The banking crisis is finally resolved  but it is news that JP Morgan s Republic Bank news and coins are included in the public disclosure of public property',
 '0503 BTC New bull market starts Half of US banks go bankrupt FOMC outlook for institutions News Bitcoin Etherium Ripple Dodge Upbit NFT',
 '0578 Comparison of the results of the three major Internet banks in Korea 20162022 Kakao Bank K Bank Toss Bank',
 'requesting deposit and withdrawal notification',
 'Travel Wallet Japan ATM usage Shorts withdrawal from abroad without withdrawal fees',
 'Banking is changing due to voice phishing damage',
 'Busan Bank Kyungnam Bank Special Lecture 2023 Comprehensive Interview Competency Interview Discussion Interview',
 'The competition for loan interest rates is just starting to rise',
 'Overseas Travel Essential Card Exchange Preferential 100 How to use it as a standard rate of sale I have already saved a 500 000 won commission to the event',
 'NVIDIA Meta 52 week report Ahn Seok hoon s New York Stock Exchange Briefing 230502',
 'Tomato System April 27th I made a listing fee  I succeeded in escaping',
 'Local bank unrest falls for 4 days Two rises after Apple closed Ahn Seok hoon s New York stock market briefing 230505',
 'Shopping for winter clothes for  5 in Australia',
 '3 Ways to Get Unemployed Youth Loans Without Proof of Income Shorts',
 'Aim for ETFs rather than gold  which is the best shot of the year',
 'Shorts micropayments when you need cash or cash Credit card cash Mobilians card cash Toss deferred payment Cash information Fee Cash Resuscitation Bank',
 'Ripple s inevitable plunge could cost banks 500 billion won in XRP dumping',
 'Bitcoin Futures Cellular Market Price Fee 0022 or Specified Value 0011 Cellular Bitcoin Etherium Ripple Dodge Upbit NFT BITGET',
 'Local banks and Walt Disney pulled down the stock market alphabet Nasdaq Ahn Seok hoon s New York Stock Exchange Briefing 230512',
 'European Infineon also drops 7 trillion semiconductor factories US banks go bankrupt in three months',
 'Bitcoin volatility announcement tonight at 9 o clock index and bank banking crisis and coin market connection',
 '0525 The US interest rate hike risk  which has been shaken by the severe research banking crisis  is shrinking  Concerns about economic downturn are widening',
 'Coinbase Bitcoin News Stable Coin NFT Bitcoin ETH XRP ADA CRYPTO Blockchain 2023',
 'coin transaction fee free',
 'Economic savings bank crisis caught in hand It seems to record deficit in 9 years MBC 230511 broadcast',
 'Tesla 550 Ahn Seok hoon s New York Stock Exchange Briefing 230506',
 '23 Real estate ownership transfer Registration transfer of ownership due to donation Written application obligor right holder corporation general building',
 'Banking Crisis Ends Withdraws to 28K of Bitcoin',
 'Ogi Inu Bitmart Listed Baby Dodge 0 Fee Love Hate Inu OKX Listed Chitcat Murati AI Generation Wells Review Coin News LIVE',
 'How to withdraw Japanese Seven ATMs without a fee with a Travelog card',
 'Tesla 257 Amazon 398 Ahn Seok hoon s New York Stock Exchange Briefing 230429',
 'i YouTube Bank Auction',
 'Honey Tips to Save Travel Expenses',
 'Mustang Rolex shopping for 500 million full time investors  bank accounts with Coin Danta',
 'The time has come for the U S  Coin Company Declaration to set the direction of Ethereum',
 'If you do this in May  it s a tax bomb',
 'You can buy this when you are in trouble in the US and in a bank bankruptcy crisis',
 'The reason why the bank that came to the son asked for a modest redemption is because of his father',
 'Even if such a safe financial sector is left for one day  the interest rate is so high that it is possible to participate in the 36th event',
 'Buy a cheap flight ticket',
 'Expansion from May If you go to the bank and do this  you will be able to return more than 100 000 won',
 'How to Receive 100 Refunds of Comprehensive Income Taxes Without a Third Way',
 'Baby Dodge Foundation 10 Incineration Voting Progress Let s check the exact facts about the zero fee',
 'Even if you care about this  30 million won is easy to go ahead',
 'Why China Could Never Conquer the Korean Peninsula   Foreign Reaction',
 'Real time overseas futures on May 18 Real time overseas futures Nasdaq Oil Gold Hang Seng debt ceiling negotiations Expected US stock market surge AI related stocks recession Small and medium sized banks volatility bitcoin mixed tax',
 'Savings bank deposits should be subtracted  but real estate PF is not a bad thing',
 'Attractive quarterly dividend KB Financial Group earnings analysis and fair value calculation 1Q2023',
 '3 minute turnaround Overseas futures US option refreshed Local banking crisis Fed raises interest rate Nasdaq crude oil 230503',
 'Bank Loan 20 Words Apply for a Loan Roll Over a Loan Borrowing Cost Interest Rate Origination Fee',
 'Which is better  Bitcoin or gold',
 'Economy  Prices and Bank Concerns Decline Alphabet 081 Ahn Seok hoon s New York Stock Exchange Briefing 230513',
 '59 Further declines expected Indicators and analyses Bank crisis continues Ethereum crisis Rikton Stein Binance',
 '11 months after this happened  on average  there was a recession',
 'The reason why the savings bank fund brokerage platform is closed is because there is no one looking for']

In [150]:
# translator = Translator(to_lang="en")

In [151]:
# translation = translator.translate("안녕하세요.")

In [152]:
# translator = googletrans.Translator()

In [153]:
# title_e=[]
# for title in df_title:
#     title_e.append(translator.translate(title,src='ko', dest='en'))
# print(title_e)

In [154]:
# #테스트 DataFrame
# test = {
#     'link' : ['www.aaa.com','www.bbb.com','www.ccc.com'],
#     'title' : ['제목짓기 귀찮다.','세상에 이런 일이','크롤링 힘드네.'],
#     'count' : ['3000','10000','25000'],
#     'date' : ['4개월 전','1달 전','6개월 전'],
#     'day' : ['2023-05','2023-05','2023-05']
# }

# df = pd.DataFrame(test)

# df_title=list(df['title'])

# df_title

In [155]:
# #Chat GPT로 번역
# messages = []
# res = []
# for title in df_title:
#     content = '{} 번역해줘'.format(title)
#     messages.append({"role":"user", "content":content})

#     completion = openai.ChatCompletion.create(model = "gpt-3.5-turbo",messages=messages)

#     chat_response = completion.choices[0].message.content
#     res.append(chat_response)
#     print(f'ChatGPT : {chat_response}')
#     time.sleep(5)
#     messages.append({"role" : "assistant","content": chat_response})

In [156]:
# title_e=[]
# for title in res:
#     title_temp= title.replace('Please translate','')
#     title_e.append(re.sub('[^\w\s]','',title_temp).strip())

In [157]:
# title_e

In [158]:
df.head()

,TITLE,VIEWS,UPLOAD_DATE,LINK,EXTRACT_DATE
0,편의점 ATM에서 절대 수수료 내지마세요 이렇게 하면 무조건 0원 입니다,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
1,정신 나간 일본 은행 수수료 근황속 보이는 일본 은행들의 변명수수료 인상 금액에 혀...,75000,3주 전,https://youtube.com/watch?v=4TexwJdsVQI&pp=ygU...,20230527
2,저축은행중앙회장이 쏘아올린 공대출 중개수수료 낮췄다한국경제TV뉴스,11000,2주 전,https://youtube.com/watch?v=SnY2vGDGjUw&pp=ygU...,20230527
3,매일경제TV 뉴스 금융소외계층 챙긴다은행업계 고령층 고객 서비스 확대,555,2주 전,https://youtube.com/watch?v=PCoRLCRd4Ks&pp=ygU...,20230527
4,6월부터 이런 사람 은행 ATM기 계좌이체 현금 입출금 못합니다,140000,4일 전,https://youtube.com/watch?v=DUef-LQ-Flk&pp=ygU...,20230527

In [159]:
view_list = list(df['VIEWS'])

In [160]:
upload_date_list = list(df['UPLOAD_DATE'])

In [161]:
link_list = list(df['LINK'])

In [162]:
e_date_list = list(df['EXTRACT_DATE'])

In [163]:
dic = {'title' : pure_data, 'view' : view_list, 'u_date' : upload_date_list, 'link' : link_list, 'e_date' : e_date_list}

In [164]:
main_df = pd.DataFrame(dic)

In [165]:
main_df

,title,view,u_date,link,e_date
0,Don t forget to pay at the ATM at the convenie...,700000,3일 전,https://youtube.com/watch?v=So8XCU5GcCs&pp=ygU...,20230527
1,Announcers who tongued the amount of the excus...,75000,3주 전,https://youtube.com/watch?v=4TexwJdsVQI&pp=ygU...,20230527
2,Korea Economic TV News lowered brokerage fees ...,11000,2주 전,https://youtube.com/watch?v=SnY2vGDGjUw&pp=ygU...,20230527
3,Daily Economy TV News Financial Underprivilege...,555,2주 전,https://youtube.com/watch?v=PCoRLCRd4Ks&pp=ygU...,20230527
4,Since June people like this have been unable ...,140000,4일 전,https://youtube.com/watch?v=DUef-LQ-Flk&pp=ygU...,20230527
...,...,...,...,...,...
96,Which is better Bitcoin or gold,510000,2주 전,https://youtube.com/shorts/Lju5KPddZXU,20230527
97,Economy Prices and Bank Concerns Decline Alph...,962,13일 전,https://youtube.com/watch?v=4-NEnT9Km1I&pp=ygU...,20230527
98,59 Further declines expected Indicators and an...,140000,2주 전,https://youtube.com/watch?v=SHk2hKZz9iw&pp=ygU...,20230527
99,11 months after this happened on average the...,59000,13일 전,https://youtube.com/watch?v=UhcVF1b2Lks&pp=ygU...,20230527
100,The reason why the savings bank fund brokerage...,332,2주 전,https://youtube.com/watch?v=Zi_CLA5Bp10&pp=ygU...,20230527

In [166]:
import os

In [167]:
os.chdir('C:/Users/effor/바탕 화면/통브라운/TongBrown')

In [168]:
main_df.to_csv('main_df.csv')