In [1]:
import pandas as pd
import numpy as np
import cx_Oracle
from konlpy.tag import Okt

In [2]:
#오라클 연결
cx_Oracle.init_oracle_client(lib_dir=r"C:\instantclient-basic-windows.x64-21.9.0.0.0dbru\instantclient_21_9")

In [3]:
#db에 연결
conn = cx_Oracle.connect(user='admin', password='Tongbrown@23', dsn='tongbrown_high')
#커서 생성
cs = conn.cursor()

In [4]:
#sql 실행
sql = "SELECT * FROM YOUTUBE_TABLE"
rs = cs.execute(sql)

In [5]:
#행,열 추출
row = cs.fetchall()
colname = cs.description
col = []
for i in colname:
    col.append(i[0])

In [6]:
ctdf =  pd.DataFrame(row,columns = col)
ctdf

,TITLE,VIEWS,UPLOAD_DATE,LINK,EXTRACT_DATE
0,에코프로 테슬라 급등한다고 했죠,2주 전,202305,https://youtube.com/watch?v=qbK0VMMhxrU&pp=ygU...,202305
1,힐링여행자 미국 주식 브리핑 은행 초대형 위기 진짜가 온다 계속되는 은행권 불안에도...,6일 전,202305,https://youtube.com/watch?v=aCkOC2TpVuA&pp=ygU...,202305
2,해외 정치 뉴스 by AI 5월 8일 월,1개월 전,202305,https://youtube.com/watch?v=0gm61Cnq5OA&pp=ygU...,202305
3,검찰 항소로 권도형대표 다시 구금 한국 송환은미국 대공황 직전 경고중국 암호화폐 거...,2주 전,202305,https://youtube.com/watch?v=pEoRmrU6zeQ&pp=ygU...,202305
4,연준발 주가 상승 시나리오,3일 전,202305,https://youtube.com/watch?v=M-gbtVNgd2s&pp=ygU...,202305
...,...,...,...,...,...
512,지역은행 우려감FOMC 경계매물미국증시 하락 마감 오늘 우리 증시는,3주 전,202305,https://youtube.com/watch?v=_XXBTUgdooY&pp=ygU...,202305
513,김대호의 경제읽기 한전 25조 자구책 마련전기요금 인상 전망은 연합뉴스TV Yon...,3주 전,202305,https://youtube.com/watch?v=zelyeCdixo0&pp=ygU...,202305
514,소규모 사업장의 만기 연장이 힘들어지면 경제 위기로 전이도 가능채권투자 방송 해설 ...,2주 전,202305,https://youtube.com/watch?v=RXQCIgO42nE&pp=ygU...,202305
515,인터뷰 예사롭지 않은 조짐 2008년 금융위기와 2023년 은행 쇼크를 만든 금리 ...,3주 전,202305,https://youtube.com/watch?v=SfV6DU7l2fE&pp=ygU...,202305
516,애플 테슬라 엔비디아 코인베이스 급등 미국증시 상승이유 상승종목은,2주 전,202305,https://youtube.com/watch?v=OPWk-BC39VA&pp=ygU...,202305

In [7]:
#konlpy 세팅
okt = Okt()

In [8]:
#제목 추출
title=np.array(ctdf['TITLE'])

In [9]:
#제목에서 명사만 추출해서 리스트로(2차원 리스트)
sep_title=[]
for i in range(len(title)):
    sep_title.append(okt.nouns(title[i]))

In [10]:
#2차원 -> 1차원
words=sum(sep_title,[])

In [11]:
#데이터프레임 생성
df = pd.DataFrame({'words':words})

In [12]:
#중복 단어 제외
ws = set(words)
wl = list(ws)

In [13]:
#단어 갯수 확인
word_num=[]
j=0
for i in range(len(wl)):
    word_num.append(len(df[df['words']==wl[j]]))
    j=j+1

In [14]:
#데이터프레임 생성 및 정렬
df1 = pd.DataFrame({'word':wl,'count':word_num})
df1s = df1.sort_values('count',ascending=False)

In [15]:
#상위 11개
df1s.head(11)

     word  count
1017   은행    138
2124   미국    103
703    지역     80
88     위기     63
2062   증시     51
1345   부채     42
1400   뉴스     41
1209   주식     41
159   부동산     37
81     금리     36
1505   한도     34