In [1]:
import pandas as pd
import numpy as np
import cx_Oracle

In [2]:
#오라클 연결
cx_Oracle.init_oracle_client(lib_dir=r"C:\instantclient-basic-windows.x64-21.9.0.0.0dbru\instantclient_21_9")

In [3]:
#db에 연결
conn = cx_Oracle.connect(user='admin', password='Tongbrown@23', dsn='tongbrown_high')
#커서 생성
cs = conn.cursor()

In [137]:
#sql 실행
sql = "SELECT * FROM YC_TABLE"
rs = cs.execute(sql)

In [138]:
#행,열 추출
row = cs.fetchall()
colname = cs.description
col = []
for i in colname:
    col.append(i[0])

In [139]:
df =  pd.DataFrame(row,columns = col)
df

Empty DataFrame
Columns: [DATA_LINK, DATA_COMMENT]
Index: []

In [140]:
link = df['DATA_LINK']

In [16]:
ls = set(link)

In [18]:
ll = list(ls)

In [141]:
link_count=[]
j=0
for i in range(len(ll)):
    link_count.append(len(df[df['DATA_LINK']==ll[j]]))
    j=j+1

In [142]:
link_count

[0, 0, 0, 0, 0]

In [143]:
start = 164+135+228

In [144]:
end = start+517

In [145]:
df4 = df[start:end]

In [31]:
texts4 = df4['DATA_COMMENT']

In [36]:
tl = list(texts4)

In [44]:
def convertString(arr):
    str_result = ""
    for s in arr:
        str_result += str(s)

    return str_result

In [129]:
df = pd.DataFrame({'context' : tl})

In [130]:
df

                 context
0       상승을 해야 됩니다 또 반면에
1        구글의 모회사 알파벳 추가는
2    0.13% 하락했습니다 알파벳 역시
3    예상치를 상위한 1분기 실적을 보고
4                    있는데
..                   ...
512  인스타 사진을 찍어서 좋아요만 받을
513   수 있다면 전혀 10만원이 아깝지
514                 않습니다
515         맛은 중요한게 아닙니다
516   얼마나 남들보다 예쁘게 빨리 찍어

[517 rows x 1 columns]

In [146]:
ctext = convertString(tl)

In [147]:
#ctext

In [148]:
text = ctext.replace('다 ','다.')

In [149]:
text = text.replace('요 ','요.')

In [150]:
text = text.replace('죠 ','죠.')

In [151]:
text = text.replace('까 ','까?')

In [152]:
text_list = ctext.split()

In [153]:
len(text_list)

1358

In [154]:
# from gensim.summarization.summarizer import summarize

In [155]:
# print(summarize(text, ratio=0.1))

In [156]:
from konlpy.tag import Okt

In [157]:
#konlpy 세팅
okt = Okt()

In [158]:
ctdf = pd.DataFrame({'TITLE':text_list})

In [159]:
#제목 추출
title=np.array(df['context'])

KeyError: 'context'

In [ ]:
#제목에서 명사만 추출해서 리스트로(2차원 리스트)
sep_title=[]
for i in range(len(title)):
    sep_title.append(okt.nouns(title[i]))

In [ ]:
#2차원 -> 1차원
words=sum(sep_title,[])

In [ ]:
#데이터프레임 생성
df = pd.DataFrame({'words':words})

In [ ]:
#중복 단어 제외
ws = set(words)
wl = list(ws)

In [ ]:
#단어 갯수 확인
word_num=[]
j=0
for i in range(len(wl)):
    word_num.append(len(df[df['words']==wl[j]]))
    j=j+1

In [ ]:
#데이터프레임 생성 및 정렬
df1 = pd.DataFrame({'word':wl,'count':word_num})
df1s = df1.sort_values('count',ascending=False)

In [160]:
#상위 11개
df1s.head(20)

    word  count
547    것     29
600   소비     19
73     수     15
548    또     14
109  가능성     12
319   미국     12
322   은행     10
628   금리      9
328   모습      8
465   다음      8
408   뉴스      8
473   인상      8
610   대한      8
671   오늘      8
354   위기      7
121    를      7
110   물건      7
67   이미지      7
336   생각      7
678   시장      7